body{
	margin-top: 7%;
	display: flex;
	flex-direction: column;
    align-items: center;
    background-color: #454545;
}

/* Password Generator Header */
.header {
    font-weight: bold;
    font-size: large;
    margin: auto;
    text-align: center;
    color: white;
}

/* Card Container */
.card {
    min-width: 50%; 
    max-height: 50%;
}
/* Generate A Password Font */
.card-title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.card-footer {
    text-align: right;
}

/* Text Area Box */
#password {
    margin: auto;
    padding: 15%; 
    text-align: center; 
    border: dashed 2px grey; 
    width: 100%;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

